<div class="sidebar">
  <h3>{{ title }}</h3>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a
        routerLink="/dashboard/categories"
        routerLinkActive="active"
        class="nav-link link-dark"
      >
        <i class="bi bi-grid me-3 fs-5"></i>
        Categories
      </a>
    </li>
    <li>
      <a
        routerLink="/dashboard/transactions"
        routerLinkActive="active"
        class="nav-link link-dark"
      >
        <i class="bi bi-receipt me-3 fs-5"></i>
        <span>Transactions</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/dashboard/budgets"
        routerLinkActive="active"
        class="nav-link link-dark"
      >
        <i class="bi bi-coin me-3 fs-5"></i>
        <span>Budgets</span>
      </a>
    </li>
  </ul>
  <div class="perfil">
    <div *ngIf="profile">
      <strong>{{ profile.first_name }} {{ profile.last_name }}</strong>
      <p>{{ profile.email }}</p>
    </div>

    <p *ngIf="!profile">Su sesion ha expirado!</p>

    <button class="btn-logout" (click)="logout()">Log out</button>
  </div>
</div>
