<div class="sidebar">
  <h3>{{ title }}</h3>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active">
        <i class="bi bi-grid me-3 fs-5"></i>
        Categories
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="bi bi-receipt me-3 fs-5"></i>
        <span>Transactions</span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="bi bi-coin me-3 fs-5"></i>
        <span>Budgets</span>
      </a>
    </li>
  </ul>
  <hr />
  <div class="content">
    <strong>Testino Diprueba</strong>
    <p>testino@gmail.com</p>
    <strong>Log out</strong>
  </div>
</div>
