<div class="filter-content">
   <div class="filter-header mt-3">
      <h2 class="mb-2 filter-title">Transactions</h2>
      <button type="button" class="btn-filter mb-3 rounded-circle fw-5" data-bs-toggle="collapse"
         href="#collapseExample">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel"
            viewBox="0 0 16 16">
            <path
               d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
         </svg>
      </button>
   </div>
   <form>
      <div class="filter-body collapse mb-2" id="collapseExample">
         <p class="mb-2  mt-2 subtitle">Category</p>
         <div class="d-flex checkbox-container">
            <div class="d-flex checkbox" *ngFor="let category of filter_categories">
               <input type="checkbox" class="form-check-input" id="category" name="category.value"
                  [(ngModel)]="category.value" (change)="onChange()">
               <label class="checkbox-name" for="category">{{category.name}}</label>
            </div>
         </div>

         <p class="mt-2 subtitle">Amount</p>
         <div class="amount-container d-flex">
            <div class="minimo d-flex">
               <label for="min_amount" class="text-uppercase">Min</label>
               <input id="min_amount" class="form-control" name="min_amount" type="number" ngInit="min_amount = 10"
                  [(ngModel)]="filter_params.min_amount" (change)="onChange()">
            </div>
            <div class=" maximo d-flex">
               <label for="max_amount" class="text-uppercase">Max</label>
               <input id="max_amount" class="form-control" name="max_amount" type="number"
                  [(ngModel)]="filter_params.max_amount" (change)="onChange()">
            </div>
         </div>
         <p class="mt-2 subtitle">Date</p>
         <div class="amount-container d-flex">
            <div class="minimo d-flex">
               <label for="from" class="text-uppercase">From</label>
               <input id="from" class="form-control" name="from" type="date" [(ngModel)]="filter_params.from"
                  (change)="onChange()" />
            </div>
            <div class="maximo d-flex">
               <label for="'to" class="text-uppercase">To</label>
               <input id="to" class="form-control" name="to" type="date" [(ngModel)]="filter_params.to"
                  (change)="onChange()" />
            </div>
         </div>
      </div>
   </form>
   <div class="icons"></div>
</div>

<!-- <ul>
   <li *ngFor="let transaction of filtered_transactions">
      <p>
         <strong>Transaction ID:</strong> {{transaction.id}}
      </p>
      <ul *ngFor="let item of transaction | keyvalue">
         <li>{{item.key}}: {{item.value}}</li>
      </ul>
   </li>
</ul> -->