@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Estilo contenido fecha*/
.content-date {
  padding: 6px 20px;
  background-color: #f5f5f5;
}
.info {
  margin-right: 2rem;
}
.number {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-top: 5px;
  color: rgba(43, 40, 40, 0.858);
}
.subtitle1 {
  font-size: 0.8rem;
  color: rgba(84, 81, 81, 0.752);
  font-family: "Poppins", sans-serif;
  margin-bottom: 6px;
}
.subtitle2 {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(43, 40, 40, 0.858);
  font-family: "Poppins", sans-serif;
  padding-bottom: 6px;
}
.total {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ec4649;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/*Estilo contenido info categoria*/
.content-info {
  padding: 14px 20px;
}
.icon-cat {
  border-radius: 20px;
  padding: 9px 13px;
}
.icon-cat .bi {
  color: white;
}
.info-des {
  margin-right: 5rem;
}
.amount {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.test {
  overflow: scroll;
  max-height: 600px;
}
