<ul>
   <li *ngFor="let date_transactions of transactions_by_date">
      <p>Transaction: {{date_transactions.date}}, Total: {{getTotal(date_transactions.transactions)}}</p>
      <ul>
         <li *ngFor="let transaction of date_transactions.transactions">
            <p style="font-size: 14px;">
               Category: {{transaction.category}},
               Icon: {{transaction.icon}},
               Amount: {{transaction.amount}},
               Type: {{transaction.type}}</p>
         </li>
      </ul>
   </li>
</ul>