.content-form {
  /* margin: auto;
  width: 600px; */
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.content-form h1 {
  text-align: center;
}

label,
input,
.btn-submit {
  padding: 4px 3px;
  width: 280px;
}

input {
  border: 2px solid #ededed;
  border-radius: 3px;
}

form input {
  display: block;
  margin-bottom: 1.5rem;
}

.btn-submit {
  background-color: #f490b1;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
}
