*{
    margin:0;
}

.circle-red {
    background-color: #ec4649;
  }
  .circle-red::before {
    border-color: #ec4649 !important;
  }
  
  .circle-dark-orange {
    background-color: #f17029;
  }
  .circle-dark-orange::before {
    border-color: #f17029 !important;
  }
  
  .circle-orange {
    background-color: #eb9829;
  }
  .circle-orange::before {
    border-color: #eb9829 !important;
  }
  
  .circle-dark-green {
    background-color: #23b882;
  }
  .circle-dark-green::before {
    border-color: #23b882 !important;
  }
  
  .circle-green {
    background-color: #25b7a6;
  }
  .circle-green::before {
    border-color: #25b7a6 !important;
  }
  
  .circle-sky-blue {
    background-color: #20b6d2;
  }
  .circle-sky-blue::before {
    border-color: #20b6d2 !important;
  }
  
  .circle-dark-sky-blue {
    background-color: #21a6e6;
  }
  .circle-dark-sky-blue::before {
    border-color: #21a6e6 !important;
  }
  
  .circle-blue {
    background-color: #4085f3;
  }
  .circle-blue::before {
    border-color: #4085f3 !important;
  }
  .circle-gris{
    background-color: rgba(84, 81, 81, 0.752);
  }


.icon-cat{
    border-radius: 35px;
    padding: 15px;
}